<div class="content">
    <h1>About me</h1>
    <p>
        I am a software Software Engineer that has been programming since 2015. I'm currently looking for work
        but in the meantime I am working on various software projects. I enjoy the process of starting a project, from scoping, to design, to implementation. It's fun figuring what resources I have at my disposal to create something new.
    </p>
    <p>
        I previously worked at Gaia Interactive as a web developer, but more of a full-stack engineer. I collaborated with the designers and artists to:
    </p>
    <ul>
        <li>streamline workflows.</li>
        <li>update the website.</li>
        <li>design and implement content management systems.</li>
        <li>design and create new projects as potential new revenue streams.</li>
    </ul>

    <p>
        As for hobbies, I love playing video games, board games, and going to the gym (before the pandemic hit).
        I love watching shows, movies, and especially anime.
        I also enjoy trying to create games myself. I think the fusion of art, music, writing, and interactivity is wonderful.
    </p>
</div>