
<div class="content">
    <mat-card class="portfolio-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Shibu Inu</mat-card-title>
            <mat-card-subtitle>Doggies are amazing</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image class="portfolio-card-image" src="https://material.angular.io/assets/img/examples/shiba2.jpg">
        <mat-card-content class="portfolio-card-content">
            Doggies are amazing because of the way they are.
        </mat-card-content>
        <mat-card-actions class="portfolio-card-actions">
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
        </mat-card-actions>
    </mat-card>
    
    <mat-card class="portfolio-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Shibu Inu</mat-card-title>
            <mat-card-subtitle>Doggies are great</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image class="portfolio-card-image" src="https://material.angular.io/assets/img/examples/shiba2.jpg">
        <mat-card-content class="portfolio-card-content">
            This doggy is great because it's a good doggy.
        </mat-card-content>
        <mat-card-actions class="portfolio-card-actions">
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
        </mat-card-actions>
    </mat-card>

    <mat-card class="portfolio-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Shibu Inu</mat-card-title>
            <mat-card-subtitle>Doggies are the best</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image class="portfolio-card-image" src="https://material.angular.io/assets/img/examples/shiba2.jpg">
        <mat-card-content class="portfolio-card-content">
            Did you know? Doggies are the best because they are the bestest boys. This doggy in particular is the best along with all the other bestest doggies.
        </mat-card-content>
        <mat-card-actions class="portfolio-card-actions">
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
        </mat-card-actions>
    </mat-card>
</div>