<header>
  <!-- Toolbar -->
  <div class="toolbar" role="toolbar">
    <mat-toolbar color="primary">
      <a class="nav-button" routerLink="">
        <button mat-icon-button class="icon button-home" aria-label="Icon-button with menu icon">
          <mat-icon>home</mat-icon>
        </button>
      </a>
      <span>Brian Pham Software</span>
      <span class="spacer"></span>
      <button mat-icon-button class="icon button-menu" (click)="OnMenu()" aria-label="Icon-button with menu icon">
        <!--<mat-icon>menu</mat-icon>>-->
        <div id="nav-icon2" [ngClass]="burgerStatus ? 'open' : 'close'">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
      </button>
    </mat-toolbar>
  </div>
</header>

<!-- Sidenav Container -->
<mat-sidenav-container class="sidenav-container" color="primary">
<!-- SideNav -->
  <mat-sidenav class="sidenav" mode="over" position="end" [(opened)]="burgerStatus" color="primary">
    <div class="spacer"></div>
    <p>
      <a class="nav-button" routerLink="">
        <button mat-button class="button home" (click)="OnMenu()">
          <span>Home</span>
        </button>
      </a>
    </p>
    <p>
      <a class="nav-button" routerLink="/about">
        <button mat-button class="button about" (click)="OnMenu()">
          <span>About</span>
        </button>
      </a>
    </p>
    <p>
      <a class="nav-button" routerLink="/portfolio">
        <button mat-button class="button portfolio" (click)="OnMenu()">
          <span>Portfolio</span>
        </button>
      </a>
    </p>
    <p>
      <a class="nav-button" routerLink="/games">
        <button mat-button class="button games" (click)="OnMenu()">
          <span>Games</span>
        </button>
      </a>
    </p>
    <p>
      <a class="nav-button" routerLink="/resume">
        <button mat-button class="button resume" (click)="OnMenu()">
          <span>Resume</span>
        </button>
      </a>
    </p>
    <p>
      <a class="nav-button" routerLink="/contact">
        <button mat-button class="button contact" (click)="OnMenu()">
          <span>Contact</span>
        </button>
      </a>
    </p>
  </mat-sidenav>

  <!-- Sidenav Content (Navigation) -->
  <mat-sidenav-content class="sidenav-content">
    <div class="nav-group" role="navigation">
      <a class="nav-button" routerLink="">
        <button mat-button class="button home">
          <span>Home</span>
        </button>
      </a>
      <a class="nav-button" routerLink="/about">
        <button mat-button class="button about">
          <span>About</span>
        </button>
      </a>
      <a class="nav-button" routerLink="/portfolio">
        <button mat-button class="button portfolio">
          <span>Portfolio</span>
        </button>
      </a>
      <a class="nav-button" routerLink="/games">
        <button mat-button class="button games">
          <span>Games</span>
        </button>
      </a>
      <a class="nav-button" routerLink="/resume">
        <button mat-button class="button resume">
          <span>Resume</span>
        </button>
      </a>
      <a class="nav-button" routerLink="/contact">
        <button mat-button class="button contact">
          <span>Contact</span>
        </button>
      </a>
    </div>
    <div class="router-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<footer>
  <section class="social-links">
    <button mat-button class="footer-button linked-in">
      <img class="icon" src="https://upload.wikimedia.org/wikipedia/commons/e/e9/Linkedin_icon.svg">
    </button>
    <button mat-button class="footer-button linked-in">
      <img class="icon" src="https://upload.wikimedia.org/wikipedia/commons/e/e9/Linkedin_icon.svg">
    </button>
  </section>
</footer>